.navigointi {
    background-color: rgb(255,127,80);
    color: white;
    padding-left: 0.5em;
    z-index: 2;
    height: 2.5em;
    position: relative;

}

a {
    line-height: 4.7vh;
    display: inline-block;
    font-weight: 600;
    text-decoration: underline;
}

#a1:link {
  color: white;
}

#a1:visited {
  color: purple;
}

#a1:hover {
  color: black;
  text-decoration: none;
}

#a2 {
  text-decoration: none;
  color: black;
}